.deplacer{
    position:absolute;
    margin-left:0.1em;
    background-color: gray;
    border-radius: 50%;
    opacity: 0.5;
}
.info{
   display:block;
    background-color:blue;
    padding-left:1em;
    padding-top:1em;
    width: 95%;
}

.MuiIconButton-root{
    position: relative;
    left:9.8em;
}
